[submodule "enet"]
	path = libs/enet
	url = https://github.com/openairlinetycoon/enet
[submodule "SDL"]
	path = libs/SDL
	url = https://github.com/openairlinetycoon/SDL.git
[submodule "SDL_image"]
	path = libs/SDL_image
	url = https://github.com/openairlinetycoon/SDL_image.git
[submodule "SDL_ttf"]
	path = libs/SDL_ttf
	url = https://github.com/openairlinetycoon/SDL_ttf.git
