[submodule "enet"]
	path = enet
	url = https://github.com/Armada651/enet
[submodule "SDL"]
	path = SDL
	url = https://github.com/Armada651/SDL.git
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/Armada651/SDL_image.git
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/Armada651/SDL_ttf.git
